.row{
    font-size: 25px;
}
.col-3{
    padding: 60px 0px 0PX 10px;
    min-height: 100vh;
}
.lists{
    margin-top: 10%;
    padding-top: 10%;
}
.side-btn{
    font-size: 23px;
    align-items: center;
    text-align: center;
}
.heading{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.paginationStyle{
    align-items: center;
    text-align: center;
    right: 45%;
}
.pagination{
    margin-left: 40%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
}
.login{
    flex: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 400px;
    height: 350px;
    font-size: x-large;
    padding: 30px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.enterDetails{
    border: 1px solid black;
}
.submit{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}